@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color:rgb(240,240,240);
}

#wrapper{
    text-align:center;
    margin-top:25px;
}

.download{
    display:inline-block;
    background-color:white;
    border:1px solid rgba(0,0,0,0.25);
    box-shadow:1px 1px 1px 1px rgba(0,0,0,0.5);
    margin-left:-1px;
    margin-top:-1px;
    width:150px;
    padding-bottom:5px;
}

canvas{
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}


.download a{
    padding:5px;
    font-size:16px;
    color:rgb(120,120,120);
    text-decoration: none;
}


h1{
    text-align:center;
    font-weight:400;
    font-size:20px;
    padding:10px;
    color:rgba(0,0,0,0.5);
}

h2, h3{
    font-weight:400;
    text-align:center;
    font-size:18px;
    margin-top:25px;
    color:rgba(0,0,0,0.5);
    padding:10px;
}

#wrapper{
    width:80%;
 
    margin-left:auto;
    margin-right:auto;
}

#ini{
    display:block;
    max-width:400px;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:25px;
    min-height:200px;
    padding:5px;
    font-size:14px;
    line-height:22px;
}

.form-row{
    margin-left:auto;
    margin-right:auto;
    width:400px;
    padding:2px;
    font-size:12px;
    border:1px solid rgba(0,0,0,0.25);
    margin-top:-1px;
    background-color:white;
    line-height:20px;
}
label{
    width:180px;
    display:inline-block;
    font-size:12px;
    
}

.form-row-alt{
    margin-left:auto;
    margin-right:auto;
    width:400px;
}

.form-row-alt label{
    width:50px;
}

.m-mode{
    font-size:12px;
}

span{
    font-size:14px;
}

.info{
    font-size:10px;
    line-height:11px;
}

input[type=number]{
    width:50px;
}

select, input[type=text]{
    width:175px;
}

#tutorial{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    font-size:14px;
}

#tutorial img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    border:1px solid rgb(100,100,100);
    margin-top:14px;
    margin-bottom:14px;
}

li{
    padding:7px;
}
footer{
    text-align:center;
    color:rgba(0,0,0,0.5);
    font-weight:300;
    font-size:12px;
}
